<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
  <div class="p-fluid flex flex-column lg:flex-row">
    <div class="surface-card p-5 shadow-2 border-round flex-auto">
      <div class="text-900 font-semibold text-lg mt-3">Profile</div>
      <p-divider class="p-element"
        ><div
          role="separator"
          class="p-divider p-component p-divider-horizontal p-divider-solid p-divider-left"
        >
          <div class="p-divider-content"></div></div
      ></p-divider>
      <form [formGroup]="loginForm" (ngSubmit)="updateUser()">
        <div class="flex gap-5 flex-column-reverse md:flex-row">
          <div class="flex-auto p-fluid">
            <div class="mb-4">
              <label for="email" class="block font-medium text-900 mb-2"
                >Email</label
              >
              <input
                id="email"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element"
                formControlName="email"
              />
            </div>
            <div class="mb-4">
              <label for="firstName" class="block font-medium text-900 mb-2"
                >First Name</label
              >
              <input
                type="text"
                id="firstName"
                pinputtext=""
                class="p-inputtext p-component p-element"
                formControlName="firstName"
              />
            </div>
            <div class="mb-4">
              <label for="lastName" class="block font-medium text-900 mb-2"
                >Last Name</label
              >
              <input
                type="text"
                id="lastName"
                pInputText
                class="p-inputtext p-component p-element"
                formControlName="lastName"
              />
              <small
                *ngIf="
                  loginForm.get('lastName')?.invalid &&
                  (loginForm.get('lastName')?.dirty ||
                    loginForm.get('lastName')?.touched)
                "
                class="block p-error"
              >
                <div *ngIf="loginForm.get('lastName')?.errors?.['required']">
                  Last Name is required.
                </div>
              </small>
            </div>
            <div class="mb-4">
              <label for="role" class="block font-medium text-900 mb-2"
                >Role</label
              ><input
                id="role"
                type="text"
                pinputtext=""
                class="p-inputtext p-component p-element"
                value="To be implemented"
              />
            </div>
            <div class="flex">
              <button
                pbutton=""
                pripple=""
                label="Change Password"
                class="p-element p-ripple w-auto p-button p-component mr-2"
                (click)="changePassword()"
              >
                <span class="p-button-label">Change Password</span>
              </button>
              <button
                pbutton=""
                pripple=""
                label="Update Profile"
                class="p-element p-ripple w-auto p-button p-component ml-2"
                (click)="forgotPassword()"
              >
                <span class="p-button-label">Forgot Password</span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
