<div class="grid grid-nogutter surface-section text-800">
  <div
    class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center"
  >
    <section>
      <span class="block text-6xl font-bold mb-1"
        >Welcome to TechTalentHub</span
      >
      <div class="text-6xl text-primary font-bold mb-3">
        Revolutionizing Interview Management
      </div>
      <p class="mt-0 mb-4 text-700 line-height-3">
        At TechTalentHub, we specialize in streamlining and enhancing the
        interviewing process through innovative technology solutions. Our
        platform offers comprehensive tools for HR and technical teams to manage
        interviews efficiently and effectively.
      </p>

      <button
        pButton
        pRipple
        label="Learn More"
        type="button"
        class="mr-3 p-button-raised"
      ></button>
      <button
        pButton
        pRipple
        label="Live Demo"
        type="button"
        class="p-button-outlined"
      ></button>
    </section>
  </div>
  <div class="col-12 md:col-6 overflow-hidden">
    <img
      src="assets/images/maranda-vandergriff-7aakZdIl4vg-unsplash.jpg"
      alt="Image"
      class="md:ml-auto block md:h-full"
      style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%)"
    />
  </div>
</div>

<div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
  <div class="mb-3 font-bold text-3xl">
    <span class="text-900">One Platform, </span>
    <span class="text-blue-600">Multiple Benefits</span>
  </div>
  <div class="text-700 mb-6">
    Our platform TechTalentHub simplifies your interview process with
    comprehensive, customizable solutions tailored to meet the needs of modern
    enterprises.
  </div>
  <div class="grid">
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-cog text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">
        Customizable Workflows
      </div>
      <span class="text-700 line-height-3">
        Tailor the interview process to meet your unique needs with our flexible
        platform, enabling you to configure stages and feedback loops to suit
        your specific requirements.
      </span>
    </div>

    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-lock text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">End-to-End Encryption</div>
      <span class="text-700 line-height-3">
        Your data’s security is paramount. We ensure all communications and data
        within the platform are protected with state-of-the-art encryption
        technologies.
      </span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-check-circle text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Easy to Use</div>
      <span class="text-700 line-height-3">
        Designed with user experience at its core, our platform makes managing
        interviews as easy as a few clicks, from scheduling to feedback
        collection.
      </span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-globe text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Global Support</div>
      <span class="text-700 line-height-3">
        Wherever you are, our dedicated support team is ready to assist you at
        any time to ensure your recruitment process runs smoothly.
      </span>
    </div>
    <div class="col-12 md:col-4 mb-4 px-5">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-github text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">
        Integration Capabilities
      </div>
      <span class="text-700 line-height-3">
        Our platform is designed to integrate seamlessly with your existing HR
        systems, enhancing your current workflows without disrupting them.
      </span>
    </div>
    <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
      <span
        class="p-3 shadow-2 mb-3 inline-block surface-card"
        style="border-radius: 10px"
      >
        <i class="pi pi-shield text-4xl text-blue-500"></i>
      </span>
      <div class="text-900 text-xl mb-3 font-medium">Trusted Security</div>
      <span class="text-700 line-height-3">
        Trust our robust security measures to keep your candidate data safe and
        secure, complying with the strictest privacy regulations.
      </span>
    </div>
  </div>
</div>
